.idea
.vscode/

### Database volume ###
database-data

### Redis volume ###
redis-data

### APKS volume ###
apks

### .env (except examples) ###
.env
env/dev/*
!env/dev/*.example.*
env/prod/*
!env/prod/*.example.*