.idea
.vscode/

### Database volume ###
database-data

### Redis volume ###
redis-data

### APKS volume ###
apks

### Mail volume ###
mail-data

### .env (except examples) ###
.env
env/*
!env/*.example.*
